<<<<<<< HEAD
* {
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
=======
$primary-color:white;
$secondary-color:#551a8b;
$terciary-color:#07ffc1;
$nav-height:70px;
$gray-color:#757575;
>>>>>>> e2b1e994828e680dbb60fa44393f4b94e001d48c
