@media screen and (max-width: 800px){
    .main-header__brand i{
      margin-left: 0;
    }
    .perfil{
      justify-content: center;
      height: 50vh;

    }
    .datos{
      justify-content: center;
      align-self: center;
      padding: 0;
      padding-right: 0;
    }
    
    .gnr{
      display:none;
    }

    .ext-recom{
      display: none;
    }

    .ext-leidos{
      display: none;
    }

    .ext-contacts{
      display: none;
    }
    .menu-disp{
      display: block;
      height: 50vh;
    }

    #menu{
      flex-direction: column;
      height: 195px;
    }
    .main-nav__items{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline-start:0; 
    }
    #carousel h1 {	  
      display:none;	    
    }	  
  
    #recommended{
      .all-books-recommended{
        grid-template-areas:
        'book-recomended'
         'book-recomended'
         'book-recomended';
        grid-template-columns: repeat(1, 65%);
        grid-gap: 5px;
  
      }
    } 
  }
  
